* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: white;
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 800rem;
    background-position:bottom;
    max-width: 1440px;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 16px;
}

.top {
    display: flex;
    padding: 5rem;
}

.nav_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 45rem;
}

.navs {
    text-align: center;
    padding: 1rem;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: black;
}

.reg_section {
    display: flex;
    margin-left: 5rem;
    margin-top: 3rem;
}

.reg_details {
    width: 30rem;
    padding-top: 5rem;
}

.illustration {
    width: 28rem;
    height: 24rem;
    margin-left: 19rem;
}

#ill_2 {
    padding-right: 3rem;
}

.testimonial {
    display: flex;
    margin-left: 5rem;
    margin-top: 12rem;
}

.testimonial_info {
    width: 30rem;
}

.p3 {
    padding-top: 1rem;
}

#p_end {
    padding-bottom: 0.5rem;
}

#link {
    color: hsl(170, 45%, 43%);
    font-family: "Raleway", sans-serif;
}

#arrow {
    margin-top: 1rem;
    width: 0.7rem;
    height: 0.7rem;
}

.headings {
    width: 35rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Raleway", sans-serif;
}

#mail {
    margin-top: 1rem;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    width: 20rem;
}

.buttons {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-left: 1rem;
    background: hsl(224, 93%, 58%);
    border-color: hsl(224, 93%, 58%);
    color: white;
    max-width: 12rem;
    font-family: "Raleway", sans-serif;
}

.quote {
    background: white;
    border-radius: 0.5rem;
    width: 20rem;
    padding: 0.7rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.client {
    display: flex;
}

.client_info {
    padding: 0.5rem;
    margin-top: 0.5rem;
}

#client_title {
    line-height: 0.2rem;
    font-size: 0.5rem;
}

#avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.support {
    display: flex;
    background: hsl(238, 22%, 44%);
    padding: 3rem 4rem 3rem 5rem;
    margin-top: 4rem;
}

.support_text {
    width: 30rem;
    color: hsl(240, 75%, 98%);
}

#mail_2 {
    margin-bottom: 1rem;
    padding: 0.5rem 10rem 0.5rem 0.5rem;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20rem;
}

#button_2 {
    margin-left: 0rem;
}

footer {
    background: hsl(243, 87%, 12%);
    padding: 3rem 10rem 2rem 5rem;
    color: hsl(240, 75%, 98%);
}

.foot_sec_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.contact_info {
    list-style: none;
    width: 12rem;
}

.list {
    padding-left: 14rem;
    list-style: none;
}

.list_items {
    width: 7rem;
}

.socials {
    display: flex;
    margin-left: 10rem;
}

.socials_icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

@media screen and (max-width: 375px){
    body {
        background-image: url(./images/bg-curve-mobile.svg);
        background-repeat: no-repeat;
        background-size: 800rem;
        background-position:bottom;
        max-width: 375px;
        text-align: center;
        margin: auto;
    }
    
    .top {
        padding: 3rem;
    }

    .nav_bar {
        margin-left: 2rem;
    }

    .navs {
        width: 3rem;
        font-size: 0.8rem;
        padding: 0rem;
        text-align: left;
    }

    .reg_section {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 1rem;
        /* margin-left: 0.5rem; */
        /* align-items: center;
        justify-content: center; */
    }

    .logo {
        width: 7rem;
        height: 3rem;
    }

    .logo_1 {
        margin-left: 1rem;
    }

    .reg_details {
        width: 20rem;
        padding-top: 5rem;
    }

    .headings {
        width: 20rem;
    }

    .illustration {
        width: 18rem;
        height: 14rem;
        margin-left: 1rem;
    }
    
    .testimonial {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 1rem;
    }

    .testimonial_info {
        width: 20rem;
    }

    #mail {
        width: 100%;
    }
    
    .buttons {
        /* margin-left: 1rem; */
        width: 100%;
        margin-top: 1rem;
    }

    .quote {
        margin: auto;
    }

    .support {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1rem;
    }

    .support_text {
        width: 20rem;
        /* padding-left: 0.5rem;
        margin-left: 0.5rem; */
    }
    
    .inputs {
        margin-left: 0.1rem;
    }

    footer {
        padding-left: 1rem;
    }

    .contact_info {
        margin-top: 1rem;
        text-align: left;
    }
    
    .foot_sec_2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .list {
        padding-left: 1rem;
        text-align: left;
        padding-top: 2rem;
    }

    .socials {
        margin-left: 6rem;
        margin-top: 1rem;
    }
}