* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: white;
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 800rem;
    background-position:bottom;
    max-width: 1440px;
}

.top {
    display: flex;
    padding: 3rem;
}

.nav_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 50rem;
}

.navs {
    text-align: center;
    padding: 1rem;
}

.reg_section {
    display: flex;
    margin-left: 3rem;
    margin-top: 5rem;
}

.reg_details {
    width: 30rem;
    padding-top: 5rem;
}

.illustration {
    width: 28rem;
    height: 24rem;
    margin-left: 19rem;
}

#ill_2 {
    padding-right: 3rem;
}

.testimonial {
    display: flex;
    margin-left: 3rem;
    margin-top: 12rem;
}

.testimonial_info {
    width: 30rem;
}

.headings {
    width: 35rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

#mail {
    margin-top: 1rem;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
}

.buttons {
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin-left: 1rem;
    background: blue;
    border-color: blue;
    color: white;
    max-width: 12rem;
}

.quote {
    background: white;
    border-radius: 0.5rem;
    width: 20rem;
}

.client {
    display: flex;
}

#avatar {
    width: 2rem;
    border-radius: 2rem;
}

.support {
    display: flex;
    background: lightskyblue;
    padding: 4rem 4rem 4rem 3rem;
}

.support_text {
    width: 30rem;
}

#mail_2 {
    margin-bottom: 1rem;
    padding: 0.5rem 10rem 0.5rem 0.5rem;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20rem;
}

#button_2 {
    margin-left: 0rem;
}

footer {
    background: navy;
    padding: 5rem 10rem 3rem 3rem;
}

.foot_sec_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}